<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="SalesForce">

	<listeners>
		<listener class-name="seleniumSalesforce.listeners.TestListener"> </listener>	
	</listeners>
    
	<test name="Login">
		<classes>
			<class name="seleniumSalesforce.tests.loginTest"> </class>
			<class name="seleniumSalesforce.tests.UserMenuDropDownTest"> </class>
			<class name="seleniumSalesforce.tests.CreateAccountTest"> </class>					
		</classes>
	</test>
	
</suite>