<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="SalesForce">

	<listeners>
		<listener class-name="seleniumSalesforce.listeners.TestListener"> </listener>	
	</listeners>
    
	<test name="Login">
		<classes>
			<class name="seleniumSalesforce.tests.CreateOptyTest"> </class>						
			<class name="seleniumSalesforce.tests.ContactTest"> </class>			
			<class name="seleniumSalesforce.tests.RandomScenariosTest"> </class>	
			<class name="seleniumSalesforce.tests.LeadsTest"> </class>				
		</classes>
	</test>
	
</suite>